table {
    border-collapse: collapse;
}

td, th {
    padding: 0.5rem;
}

table {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #FFFFFF;
  text-align: center;
  border-collapse: collapse;
  width:100%;
}
table td, table.paleBlueRows th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table tbody td {
  font-size: 14px;
  text-align: center;
}
table tr:nth-child(even) {
  background: #D0E4F5;
}
table thead {
  background: #0B6FA4;
  border-bottom: 5px solid #FFFFFF;
}
table thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
.rt-td {
	text-align: center;
}
.mainTable {
	max-width: 1280px;
	margin: auto;
}
.rt-resizable-header-content {
	font-size: 16px;
	font-weight: bold;
	color: #4c16aa;
}
.rt-td {
	font-size: 14px !important;
}
.sub-table .rt-td {
	padding: 1px 1px !important;
}
.sub-table .rt-resizable-header-content {
	font-size: 12px;
	font-weight: bold;
	color: #4c16aa;
}
.sub-table {
	max-width: 850px;
	min-width: 600px !important;
}
.ReactTable.substitutes .rt-thead.-header {
	display: none;
}