/*Stops the appearance of a scrollbar moving elements*/
html {
  overflow-y: scroll;
}
table {
    border-collapse: collapse;
}
td, th {
    padding: 0.5rem;
}

table {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #FFFFFF;
  text-align: center;
  border-collapse: collapse;
  width:100%;
}
table td, table.paleBlueRows th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table tbody td {
  font-size: 14px;
  text-align: center;
}
table tr:nth-child(even) {
  background: #D0E4F5;
}
table thead {
  background: #0B6FA4;
  border-bottom: 5px solid #FFFFFF;
}
table thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
.rt-td {
	text-align: center;
}
.mainContainer {
	max-width: 1280px;
	margin: auto;
}
.comingSoon {
	display: block;
	margin: 0 auto;
}
.navbar-nav a {
	color: #c9c6c5 !important;
	text-decoration: none !important;
}
.navbar-nav a:hover {
  color: white !important;
}
.dark {
	background-color: #1d1a1f;
}