table {
    border-collapse: collapse;
}
td, th {
    padding: 0.5rem;
}

table {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #FFFFFF;
  text-align: center;
  border-collapse: collapse;
  width:100%;
}
table td, table.paleBlueRows th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table tbody td {
  font-size: 14px;
  text-align: center;
}
table tr:nth-child(even) {
  background: #D0E4F5;
}
table thead {
  background: #0B6FA4;
  border-bottom: 5px solid #FFFFFF;
}
table thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
.rt-td {
	text-align: center;
}
.mainContainer {
	max-width: 1310px;
	margin: auto;
}
.comingSoon {
	display: block;
	margin: 0 auto;
}
.navbar-nav a {
	color: #c9c6c5 !important;
	text-decoration: none !important;
}
.navbar-nav a:hover {
  color: white !important;
}
.dark {
	background-color: #1d1a1f;
}

.rt-tbody {
	min-width: 340px !important;
}
.rt-thead {
	min-width: 340px !important;
}

.sub-table .rt-tr .rt-th:nth-child(12n+12) {
    display: none;
}
	
.sub-table .rt-tr .rt-td:nth-child(12n+12) {
    display: none;
}

.rt-td {
	text-align: center;
}

.rt-resizable-header-content {
	font-size: 16px;
	font-weight: bold;
	color: #4c16aa;
}

.rt-td {
	font-size: 14px !important;
}

.sub-table .rt-td {
	padding: 1px 1px !important;
}

.sub-table .rt-resizable-header-content {
	font-size: 12px;
	font-weight: bold;
	color: #4c16aa;
}

.sub-table {
	max-width: 850px;
	min-width: 600px !important;
}

.ReactTable.substitutes .rt-thead.-header {
	display: none;
}

.additional-transfer-table .rt-thead.-header{
	display: none;
}


#selectLeague {
	margin: 15px;
}

.transfer-table {
	width: 385px !important;
}

.transfer-table .rt-td {
	padding: 1px 1px !important;
}

.transfer-table .rt-resizable-header-content {
	font-size: 12px;
	font-weight: bold;
	color: #4c16aa;
}

@media only screen and (min-width: 1000px) {

	.teamTable > .rt-table > .rt-thead > .rt-tr > .rt-th:nth-child(12n+12) {
		display: none;
	}
	
	.teamTable > .rt-table > .rt-tbody > .rt-tr-group > .rt-tr > .rt-td:nth-child(12n+12) {
		display: none;
	}
	
}

@media only screen and (max-width: 1000px) {
	
	.transfer-table {
		display: none !important;
	}
	
	.centre_header_text {
		margin-left: 5% !important;
	}
	
	.teamTable > .rt-table > .rt-thead > .rt-tr > .rt-th:nth-child(6n+6) {
		display: none;
	}
	
	.teamTable > .rt-table > .rt-tbody > .rt-tr-group > .rt-tr > .rt-td:nth-child(6n+6) {
		display: none;
	}
	
	.teamTable > .rt-table > .rt-thead > .rt-tr > .rt-th:nth-child(7n+7) {
		display: none;
	}
	
	.teamTable > .rt-table > .rt-tbody > .rt-tr-group > .rt-tr > .rt-td:nth-child(7n+7) {
		display: none;
	}
	
	.teamTable > .rt-table > .rt-thead > .rt-tr > .rt-th:nth-child(8n+8) {
		display: none;
	}
	
	.teamTable > .rt-table > .rt-tbody > .rt-tr-group > .rt-tr > .rt-td:nth-child(8n+8) {
		display: none;
	}
	
	.teamTable > .rt-table > .rt-thead > .rt-tr > .rt-th:nth-child(9n+9) {
		display: none;
	}
	
	.teamTable > .rt-table > .rt-tbody > .rt-tr-group > .rt-tr > .rt-td:nth-child(9n+9) {
		display: none;
	}
	
	.teamTable > .rt-table > .rt-tbody  {
		width: 975px !important;
		min-width: 975px !important;
	}
	
	.teamTable > .rt-table > .rt-thead  {
		width: 975px !important;
		min-width: 975px !important;
	}
	
	.teamTable  {
		width: 975px !important;
		min-width: 975px !important;
	}
	
	.teamTable > .rt-table {
		width: 1010px !important;
	}
	
	.sub-table {
	width: 100% !important;
	}
	
}

.sub-table-container {
	width: 99%;
	margin: auto;
}

.sub-table {
	float: left;
	width: 70%;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.transfer-table {
	margin-left: 68%;
	padding-top: 20px;
}