.mainContainer {
	max-width: 1310px;
	margin: auto;
}
.comingSoon {
	display: block;
	margin: 0 auto;
}
.navbar-nav a {
	color: #c9c6c5 !important;
	text-decoration: none !important;
}
.navbar-nav a:hover {
  color: white !important;
}
.dark {
	background-color: #1d1a1f;
}

#selectLeague, #filter {
	margin: 15px;
	height: 35px;
	width: 200px;
}

#filter {
	position: absolute;
	right: 0px;
}
